.container {
    /* min-height: 100vh; */
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
}

.titleContainer {
    display: flex;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    margin: 1rem;
    padding: 1.5rem;
    width: 80%;
    justify-content: space-between;
}

.scoreContainer {
    background: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.scoreTitle, .scoreNumber {
    text-align: center;
    color: hsl(214, 47%, 23%);
    font-weight: bold;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-grow: 1;
}
.rules {
    margin: 1rem;
    padding: 1.5rem;
    color: white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    cursor: pointer;
}
